* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: linear-gradient(90deg, #c50fe5, #74e1fe, #50d8fe);
  padding-top: 50px;
}
.container {
  width: 1200px;
  height: 80vh;
  background: linear-gradient(120deg, #c50fe5, #74e1fe, #50d8fe);
  border-radius: 10px;
  box-shadow: 2px 2px 15px -2px black;
  padding: 20px;
  text-align: center;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  h1 {
    text-align-last: left;
    font-weight: 500;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.801);
  }
  select {
    outline: none;
    padding: 2px;
    width: 90px;
    border: none;
    border-radius: 4px;
    text-transform: capitalize;
  }
  .box {
    h4 {
      font-weight: 500;
      font-size: 22px;
    }
  }
}
h2 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.815);
}
input {
  padding: 6px;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 50px;
}
h3 {
  font-weight: 500;
  font-size: 26px;
}
.modal {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  .content {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ca13d9, #f6a454, #52d5f6);
    text-align: center;
    padding: 20px;
  }
  .gameOvner {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 22px;
    background: linear-gradient(45deg, #52d5f6, #f6a454, #ca13d9);
    border-radius: 50px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 2px 2px 15px 1px white;
    margin-bottom: 50px;
  }
  .result {
    width: 100%;
    background: linear-gradient(45deg, #ca13d9, #f6a454, #52d5f6);
    box-shadow: 2px 2px 15px 1px white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 22px;
    border-radius: 60px;
    margin-bottom: 50px;
  }
  .tryAgain {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 22px;
    border-radius: 50px;
    border: none;
    background-color: black;
    
    text-transform: uppercase;
    cursor: pointer;
    a{
        text-decoration: none;
        color: white;
    }
  }
}
.modal.active {
  transform: scale(1);
}
